* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  /* background-color: whitesmoke; */
  background-color: #3a3b3c;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-link {
  font-family: sans-serif;
  transition: all 0.4s;
  color: #e4e6eb !important;
}
.nav-link:hover {
  color: #b0b3b8 !important;
}
.navbar-toggler {
  border: none !important;
  color: #b0b3b8 !important;
  transition: all 0.5s;
}
.navbar-toggler:focus {
  color: #b0b3b8;
}

.link {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .link {
    width: max-content;
  }
}
@media only screen and (max-width: 992px) {
  .link {
    width: max-content;
  }
}
.link::after {
  content: " ";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #b0b3b8;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  border-radius: 5px;
}
.link:hover:after {
  width: 100%;
}
.appear {
  color: #b0b3b8;
}
.appear::after {
  content: " ";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #b0b3b8;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  border-radius: 5px;
}
